<nav class="navbar navbar-light bg-light justify-content-between p-4">
  <a href="" class="navbar-brand">Melbourne Restaurants</a>
  <%= link_to "New restaurant", new_restaurant_path, class: "btn btn-outline-success my-2 my-sm-0" %>
</nav>

<div class="container mt-1">
<h1>Edit restaurant</h1>
<%= render "form", restaurant: @restaurant %>
<%= link_to "Cancel", restaurants_path, class: "btn btn-primary" %>
</div>
